@model List<DotNet.Highcharts.Highcharts>
@{
    ViewBag.Title = "质量管理";
}
<h2>质量管理</h2>

@foreach (var chart in Model)
{
    @chart
}

<script src="~/Content/Highcharts-3.0.10/js/highcharts.js"></script>
<script src="~/Content/Highcharts-3.0.10/js/modules/exporting.js"></script>